* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'helvetica neue', helvetica,
               sans-serif;
}

.grey {
  color:#887f7f;
}
.light-grey {
  color:#899da3;
}
.bg-grey {
  background-color: #F2F4F6;
}
.bg-green {
  background-color: #13E300;
}




.Media {
  overflow: hidden;
}
.Media-body {
  overflow: hidden;
}


.Media-img {
  float: left;
}
.Media-imgExt {
  float: right;
}


@media screen and (min-width: 60em) {
  .Media-l {
    overflow: hidden;
  }

  .Media-body-l {
    overflow: hidden;
  }
  .Media-img-l {
    float: right;
  }
  .Media-imgExt-l {
    float: left;
  }
}

.fb-messenger {
  width: 224px;
  height: 55px;
  background-image: url(/images/messenge_us.png);
  background-position: 299px -12px;

} 

@media screen and (min-width: 60em) {
  .fb-messenger {
    width: 267px;
    height: 66px;
    background-image: url(/images/messenge_us.png);
    background-position: 299px -90px;

  } 
}










